<!-- homepage.html -->
<!doctype html>
<html lang="en">
    <head>
        <title>Netflix</title>
    </head>
    <body>
        <h1>Movies you may like</h1>
        <ul>
            {% for movie in recommendations %}
            <li>{{ movie.title }}</li>
            <a href = "{{url_for('add_to_list', movieid = movie.id, movietitle = movie.title)}}">Add To List</a>
            {% endfor %}
        </ul>
        <a href = "{{url_for('dropdown')}}">Recommendations</a>
        <a href = "{{url_for('render_list')}}">My List</a>
    </body>
</html>

